<td><input type="text" ng-model="selected.user_id" /></td>
<td><input type="text" ng-model="selected.name" /></td> 
<td><input type="text" ng-model="selected.email" /></td>
<td><input type="text" ng-model="selected.cell_phone" /></td>
<td><input type="text" ng-model="selected.member_status_i18n" /></td>
<td><input type="text" ng-model="selected.hasTicket" /></td>
<!--//- td {{member.earlyArrival ? 'yes':'no'}}-->
<td><button ng-click="saveRow($index)">Save</button></td>
<td><button ng-click="reset()">Cancel</button></td> 